In [ ]:
%pip install --upgrade openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openai in /usr/local/lib/python3.10/dist-packages (0.27.8)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)

In [ ]:
import pandas as pd
import numpy as np
import openai

In [ ]:
data = pd.read_csv("/content/data_file.csv", skip_blank_lines = True, header = 0)

data['prompt'] = data['prompt'].str.strip()
data['completion'] = data['completion'].str.strip()

In [ ]:
data['prompt'] = data['prompt'] + "\n\n###\n\n"
data['completion'] = data['completion'] + " STOP"

In [ ]:
data.head()

,prompt,completion
0,top 10 accounts with most transactions in all ...,"SELECT account_id, COUNT(*) AS num_transaction..."
1,number of male and female customers\n\n###\n\n,"SELECT gender, COUNT(*) as count FROM setalab...."
2,client's birth year distribution\n\n###\n\n,SELECT EXTRACT(YEAR FROM birth_date) AS birth_...
3,show top 5 accounts with the most devices in U...,"SELECT COUNT(*) AS count, account_id FROM all_..."
4,show percentage of death over population by co...,"SELECT location, (total_deaths/population)*100..."

In [ ]:
data.to_json("finetune.jsonl",orient='records',lines=True)

In [ ]:
import os
os.environ['OPENAI_API_KEY'] = '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'

In [ ]:
%openai tools fine_tunes.prepare_data -f finetune.jsonl

Analyzing...

- Your file contains 7 prompt-completion pairs. In general, we recommend having at least a few hundred examples. We've found that performance tends to linearly increase for every doubling of the number of examples
- More than a third of your `completion` column/key is uppercase. Uppercase completions tends to perform worse than a mixture of case encountered in normal language. We recommend to lower case the data if that makes sense in your domain. See https://platform.openai.com/docs/guides/fine-tuning/preparing-your-dataset for more details
- All prompts end with suffix `\n\n###\n\n`
- All completions start with prefix `SELECT `. Most of the time you should only add the output data into the completion, without any prefix
- All completions end with suffix ` STOP`
- The completion should start with a whitespace character (` `). This tends to produce better results due to the tokenization we use. See https://platform.openai.com/docs/guides/fine-tuning/preparing-your-dataset for more details

Based on the analysis we will perform the following actions:
- [Recommended] Lowercase all your data in column/key `completion` [Y/n]: y
- [Recommended] Remove prefix `SELECT ` from all completions [Y/n]: y
- [Recommended] Add a whitespace character to the beginning of the completion [Y/n]: y


Your data will be written to a new JSONL file. Proceed [Y/n]: y

Wrote modified file to `finetune_prepared.jsonl`
Feel free to take a look!

Now use that file when fine-tuning:
> openai api fine_tunes.create -t "finetune_prepared.jsonl"

After you’ve fine-tuned a model, remember that your prompt has to end with the indicator string `\n\n###\n\n` for the model to start generating completions, rather than continuing with the prompt. Make sure to include `stop=[" stop"]` so that the generated texts ends at the expected place.
Once your model starts training, it'll approximately take 2.54 minutes to train a `curie` model, and less for `ada` and `babbage`. Queue will approximately take half an hour per job ahead of you.

In [ ]:
%openai api fine_tunes.create -t "finetune_prepared.jsonl"

Found potentially duplicated files with name 'finetune_prepared.jsonl', purpose 'fine-tune' and size 1825 bytes
file-ge5BN7IihXKeohKTE2qwe9Iw
Enter file ID to reuse an already uploaded file, or an empty string to upload this file anyway: file-ge5BN7IihXKeohKTE2qwe9Iw
Reusing already uploaded file: file-ge5BN7IihXKeohKTE2qwe9Iw
Created fine-tune: ft-idiUd9IyaCCezzTUUOLeq5Zv
Streaming events until fine-tuning is complete...

(Ctrl-C will interrupt the stream, but not cancel the fine-tune)
[2023-06-19 18:46:20] Created fine-tune: ft-idiUd9IyaCCezzTUUOLeq5Zv
ft-idiUd9IyaCCezzTUUOLeq5Zv

Stream interrupted (client disconnected).
To resume the stream, run:

  openai api fine_tunes.follow -i ft-idiUd9IyaCCezzTUUOLeq5Zv

In [ ]:
%openai api fine_tunes.follow -i ft-idiUd9IyaCCezzTUUOLeq5Zv

[2023-06-19 18:46:20] Created fine-tune: ft-idiUd9IyaCCezzTUUOLeq5Zv

Stream interrupted (client disconnected).
To resume the stream, run:

  openai api fine_tunes.follow -i ft-idiUd9IyaCCezzTUUOLeq5Zv

In [ ]:

def generate_sql_query(question, temperature: float = 0.2) -> None:
    print(f"Question:\n{question}")
    prompt_without_context = question
    # prompt_with_context = f"Given the table '{table_name}', please write an SQL query to {question}"

    messages = [
        {"role": "system", "content": "Use the reference table name: "},
        {"role": "system", "content": "Use the reference table schema: "},
        {"role": "system", "content": "Use the provided table and schema to compose SQL query in Google BigQuery dialect to help user answer their question."},
        {"role": "user", "content": prompt_without_context},
        # {"role": "assistant", "content": prompt_with_context},
        # Set of rules to get better query results
        {"role": "assistant", "content": "If the user ask for something by X, then it's a good idea to have a GROUP BY X clause in the SQL"},
        # {"role": "assistant", "content": "New column names in AS clause should not have any white spaces and do not put them inside quotes"},
        {"role": "assistant", "content": "Remember to make sure all the columns are grouped nor aggregated when you are using aggragation in SQL"},
        {"role": "assistant", "content": "If the user do not mention any time period, the query should take into account all the dates available in the table"},
        {"role": "assistant", "content": "When the user do not mention any specific requirements for the numeric values, default to average"},
        {"role": "system", "content": "Please provide the query ONLY. DO NOT provide any explanation"},
    ]

    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        max_tokens=100,
        temperature=temperature,
        n=1,
        stop=[" STOP"],
    )


    job_id = response["id"]

    print(f'Fine-tunning model with jobID: {job_id}.')
    #print(f"Training Response: {response}")

    #answer = openai.ChatCompletion.create(model = result["fine_tuned_model"], prompt=new_prompt, max_tokens = 4)
    #print(response['choices'][0]['text'])
    sql_query = response.choices[0].message['content'].replace('\n','\n').replace(' .','.').strip()
    sql_query = sql_query.strip().strip("```")
    return sql_query

In [ ]:
prompt = "show client's total spending by birth year\n\n###\n\n"
generate_sql_query(prompt)

Question:
show client's total spending by birth year

###


Fine-tunning model with jobID: chatcmpl-7TEHozlPGMmklNRcDawVQYDTg3V83.

'\nSELECT \n  EXTRACT(YEAR FROM birth_date) AS birth_year, \n  client_id, \n  AVG(total_spending) AS avg_spending\nFROM \n  `your_table_name.your_table_schema.your_table`\nGROUP BY \n  birth_year, \n  client_id\n'

In [ ]:
def answer(question: str = None, temperature: float = 0.2) -> pd.DataFrame:
    user_input = input("Input question:") if not question else question

    sql_query = generate_sql_query(user_input, temperature)
    print("Generated SQL Query:\n", sql_query)

In [ ]:
prompt = "client's birth year distribution\n\n###\n\n"

In [ ]:
answer(prompt)

Question:
client's birth year distribution

###


Fine-tunning model with jobID: chatcmpl-7TEI8CkaxCHH7gfoFlYdALpdmhvhx.
Generated SQL Query:
 SELECT AVG(EXTRACT(YEAR FROM birth_date)) AS avg_birth_year, COUNT(*) AS count_clients
FROM `bigquery-public-data.samples.natality

In [ ]:
prompt = "show client's total spending by birth year\n\n###\n\n"
answer(prompt)

Question:
show client's total spending by birth year

###


Fine-tunning model with jobID: chatcmpl-7TEIByel4aLtMBoEZCgtBPilD7bhW.
Generated SQL Query:

SELECT
  EXTRACT(YEAR FROM birth_date) AS birth_year,
  client_id,
  AVG(total_spending) AS avg_total_spending
FROM
  `your_table_name.your_table_schema.your_table`
GROUP BY
  birth_year,
  client_id

In [ ]:
prompt = "number of male and female customers"
answer(prompt)

Question:
number of male and female customers
Fine-tunning model with jobID: chatcmpl-7TEIEfHIRseeI0005gBzCxsyIW7M0.
Generated SQL Query:

SELECT gender, COUNT(*) AS count
FROM `bigquery-public-data.samples.natality`
GROUP BY gender

In [ ]:
prompt = "number of male and female customers\n\n###\n\n"
answer(prompt)

Question:
number of male and female customers

###


Fine-tunning model with jobID: chatcmpl-7TEIFajnYLpO4LulEbmtvODU3jqZg.
Generated SQL Query:
 SELECT gender, COUNT(*) as count
FROM `table_name.schema_name.customers`
GROUP BY gender

In [ ]:
prompt = "show the bank receiving the most money for each customer. Specify where you get the column client_id in every subquery if necessary"
answer(prompt)

Question:
show the bank receiving the most money for each customer. Specify where you get the column client_id in every subquery if necessary
Fine-tunning model with jobID: chatcmpl-7TEIH7U2cDVc23YnwINirX4jJG11k.
Generated SQL Query:

WITH
  client_total AS (
  SELECT
    client_id,
    bank,
    SUM(amount) AS total_amount
  FROM
    `bigquery-public-data.samples.transactions`
  GROUP BY
    client_id,
    bank ),
  max_total AS (
  SELECT
    client_id,
    MAX(total_amount) AS max_amount
  FROM
    client_total
  GROUP BY
    client_id )
SELECT
  client_total.client_id,
  client_total.bank,

In [ ]:
prompt = "top 10 accounts with most transactions in all time period"
answer(prompt)

Question:
top 10 accounts with most transactions in all time period
Fine-tunning model with jobID: chatcmpl-7TEIL2YMJuuVLddQKyCPmXElRpc5E.
Generated SQL Query:

SELECT account, COUNT(*) AS num_transactions
FROM `project.dataset.transactions`
GROUP BY account
ORDER BY num_transactions DESC
LIMIT 10

In [ ]:
prompt = "show top 3 contintents with the highest death count per population"
answer(prompt)

Question:
show top 3 contintents with the highest death count per population
Fine-tunning model with jobID: chatcmpl-7TEINZ94FO8c7ZZ6aaaqSKgxMQsgO.
Generated SQL Query:

SELECT
  location.continent_name AS continent,
  SUM(total_deaths) / SUM(population) AS death_rate_per_population
FROM
  `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE
  date BETWEEN '2020-01-01' AND '2022-01-01'
GROUP BY
  continent
ORDER BY
  death_rate_per_population DESC
LIMIT
  3

In [ ]:
prompt = "show average percentage of death over population by country, order from highest to lowest"
answer(prompt)

Question:
show average percentage of death over population by country, order from highest to lowest
Fine-tunning model with jobID: chatcmpl-7TEIRDnVsqAULMFsRr639Yibq2Nqc.
Generated SQL Query:

SELECT country, AVG(deaths/population)*100 AS avg_death_percentage
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
GROUP BY country
ORDER BY avg_death_percentage DESC

In [ ]:
prompt = "merge all data"
answer(prompt)

Question:
merge all data
Fine-tunning model with jobID: chatcmpl-7TEIUS0QyDLB0WrYhTb2WH1wNAY6q.
Generated SQL Query:
 SELECT
  *
FROM
  `bigquery-public-data.covid19_open_data.covid19_open_data`
GROUP BY
  date, country_name, subregion1_name, subregion2_name, aggregation_level, iso_3166_1_alpha_3, iso_3166_1_alpha_2, region_code, subregion1_code, subregion2_code, local_subregion1_code, local_subregion2_code, aggregation_level, latitude, longitude, location_geometry,

In [ ]:
prompt = "show the account has event hour > 2023-06-06 18:00:00 UTC and server ip = 8.8.8.8 and event date before 2023-06-13 in USA"
answer(prompt)

Question:
show the account has event hour > 2023-06-06 18:00:00 UTC and server ip = 8.8.8.8 and event date before 2023-06-13 in USA
Fine-tunning model with jobID: chatcmpl-7TEIXolFWy0huRRb2SDmn2vNUdqtT.
Generated SQL Query:

SELECT account, AVG(event_hour) as avg_event_hour
FROM `project.dataset.table`
WHERE event_hour > '2023-06-06 18:00:00 UTC' AND server_ip = '8.8.8.8' AND event_date < '2023-06-13' AND country = 'USA'
GROUP BY account